# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=9777037062e112cc2ebb2e6e21e0e4ba
# Create a GitHub OAuth app here: https://github.com/settings/applications/new
# Authorization callback URL: https://authjs.dev/reference/core/providers_github#callback-url
AUTH_GITHUB_ID=0d0faa894dcf9e85547e # issue
AUTH_GITHUB_SECRET=e1a279aa39b51394c1d59c7b46a631521dfbf337
# Support OAuth login on preview deployments, see: https://authjs.dev/guides/basics/deployment#securing-a-preview-deployment
# Set the following only when deployed. In this example, we can reuse the same OAuth app, but if you are storing users, we recommend using a different OAuth app for development/production so that you don't mix your test and production user base.
# AUTH_REDIRECT_PROXY_URL=https://YOURAPP.vercel.app/api/auth

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and 
KV_URL="redis://default:995bd9b9d0e74606a579cd0010b5c6da@hot-bunny-49360.kv.vercel-storage.com:49360"
KV_REST_API_URL="https://hot-bunny-49360.kv.vercel-storage.com"
KV_REST_API_TOKEN="AcDQASQgNzc2YTQ3NmEtNThjYS00ZTRlLTg4YzQtYmNmOTUwNzhjZDY1OTk1YmQ5YjlkMGU3NDYwNmE1NzljZDAwMTBiNWM2ZGE="
KV_REST_API_READ_ONLY_TOKEN="AsDQASQgNzc2YTQ3NmEtNThjYS00ZTRlLTg4YzQtYmNmOTUwNzhjZDY1F2fHxR9REOrp4UZ3v2pD0yNZuVy1RMiP4qHWWDDQa5Y="

